@import './reset.scss';

$green: #76ee86;

body {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Montserrat';
    font-size: 24px;
    color: #e7e7e7;
    background: #19171f;
}

.panel {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 64px;

    &:first-child {
        align-items: flex-end;
    }
}

#game {
    background: #19171f;
    padding-left: 6.4px;
}

.info-panel {
    font-size: 1em;
    padding: 1em 1em 1em 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: min-content;
    position: relative;

    h1 {
        margin: 0 -6px 8px 0;
    }

    #time {
        display: flex;

        .decimal {
            margin: 0 -5px 0 11px;
            font-size: 2em;
            font-weight: 700;
        }
    }

    .number {
        font-size: 2em;
        font-weight: 700;
        text-transform: full-width;
        letter-spacing: -18px;
    }
}
